[
  "https://www.airbnb.com/rooms/1083437172886362874",
  "https://www.instagram.com/nombre_de_tu_competidor",
  "https://www.tiktok.com/@nombre_de_tu_competidor",
  "https://www.facebook.com/pagina_de_tu_competidor"
]
